*{margin:0px; padding: 0px; font-family: Arial, Helvetica, sans-serif;}
header{background-color: #242d3c;color: #fff; height: 5em; display: flex; align-items: center; align-content: center;justify-content: space-evenly;}
.section1{display: flex;  align-items: center; width: 100%; justify-content: space-evenly;}
.info{background-color:rgba(160, 172, 200, 0.287); display: flex; flex-direction: column; width: 40%;align-items: center;text-align: justify; border-radius: 8px;padding: 2em;}
.section2{background-color:rgba(169, 194, 238, 0.938); height: 51em;}
.title{grid-row:1/2;grid-column: 1/3;display: flex; align-items: center; justify-content: space-evenly; width: 25%; }
h2{text-decoration: underline;}
.columnas{display: grid; grid-template-columns: 50% 50%; grid-template-rows: 15% 40% 60%; justify-items:center;align-items: center; }
.ISO1{display: flex;  justify-content: space-evenly;}
#ISO1{display: flex; flex-direction: column; justify-content: center; text-align: justify; max-width: 20em;}
.ISO2{max-width: 35em; text-align: justify;}
.ISO2 h4{text-align: center;}
.ISO2 ul li{list-style:circle; margin-left: 2em;}
