*{margin:0px; padding: 0px; font-family: Arial, Helvetica, sans-serif;}
header{background-color: #242d3c;color: #fff; height: 5em; display: flex; align-items: center; align-content: center;justify-content: space-evenly;}

.section1{display: flex;  align-items: center; width: 100%; justify-content: space-evenly;}
.info{background-color:rgba(160, 172, 200, 0.287); display: flex; flex-direction: column; width: 40%;align-items: center;text-align: justify; border-radius: 8px;padding: 2em;}

.section2{ height: 60em; background-color: #e4e2e21a;}
.title{grid-row:1/2;grid-column: 1/3;display: flex; align-items: center; justify-content: space-evenly; width: 31%; }
.title p{ color:#0094fd;font-size: 32px; font-weight: 550;}
.columnas{display: grid; grid-template-columns: 50% 50%; grid-template-rows: 15% 40% 60%; justify-items:center;align-items: center;}
.ISO{background-color:rgba(169, 194, 238, 0.274);border-radius: 8px;padding: 2em;box-shadow: 0px 5px 6px #b2b2b2;}
.ISO1{display: flex;  justify-content: space-evenly; max-width: 35em;}
#ISO1{display: flex; flex-direction: column; justify-content: center; text-align: justify; max-width: 15em;}
.ISO2{max-width: 35em; text-align: justify;}
.ISO2 h4{text-align: center;}
.ISO2 ul li{list-style:circle; margin-left: 2em;}

.section3{display: flex; width: 100%;justify-content:space-evenly; height:15em;align-items: center; background-color:#5B6064; color:#fff}
#SPICE{display: flex;flex-direction: column; max-width: 45em; text-align: justify; justify-content: center; }
#SPICE ol li{margin-left: 2em;}

.section4{display: flex; width: 100%;justify-content:space-evenly; align-content: center;height: 20em;align-items: center;}
.CMMI{display:flex;flex-direction: column;  justify-content: center;justify-items: center;  max-width: 40em; text-align: justify;}

.section5{background-color: #e4e2e21a;display: flex; width: 100%;justify-content:space-evenly; align-content: center;height: 15em;align-items: center;}

.section6{ background-color:#5B6064;display: grid; grid-template-columns:50% 50%; width: 100%; align-content: center;height: 15em;align-items: center;justify-items: center;}
.modelos6{display:grid;justify-items: center; max-width: 30em; text-align: justify; color:#fff}

.section7{display: flex; width: 100%;justify-content:space-evenly; align-content: center;height: 15em;align-items: center;}

footer{background-color: #242d3c; height: 5em; text-align: center;}
footer p{line-height: 2em;color:#fff}


@media screen and (max-width: 992px){
    *{padding: 1px;}
    header {font-size: 90%;}
    .info{padding: 1em; font-size: 110%;}
    
    .section2{height: 105em; font-size: 110%;}
    .columnas{grid-template-rows: 10% 20% 20% 23% 40%; grid-template-columns: 130%; justify-content: center;}
    .title{grid-row:1/2; grid-column: 1/2;}
    .title p{font-size: 140%;}
    .title img{width: 28%;}

    .section3{font-size: 110%;}

    .section4{height: 25em; font-size: 110%;}
    .section4 img{height: 45%;}
    .CMMI{ max-width: 35em;}

    .section5{height: 12em; font-size: 110%;}
    .section5 img {height: 45%;}

    .section6{height: 13em;font-size: 110%;}
    .modelos6{max-width: 20em;}

    .section7{font-size: 110%;}

    footer{font-size: 110%;}

}

@media screen and (max-width: 768px){
    *{padding: 1px;}
    header {font-size: 70%;}
    .info{padding: 0.5em; text-align: center;}
    .section1{height:20em;}

    .section2{height: 100em;}
    .columnas{grid-template-rows: 10% 20% 20% 23% 40%; grid-template-columns: 100%; }
    .title{grid-row:1/2; grid-column: 1/2;}
    .title p{font-size: 120%;}
    .title img{width: 28%;}

    .section4{height: 25em;}
    .section4 img{height: 40%;}
    .CMMI{ max-width: 28em;}

    .section5{height: 12em;}
    .section5 img {height: 40%;}

    .section6{height: 13em;}
    .modelos6{max-width: 20em;}

}

@media screen and (max-width: 576px){
    *{padding: 1px;}
    header {font-size: 55%;}
    .info{padding: 0.5em;width: 55%;text-align: center;font-size: 90%;}
    .section1{height:15em;}
    .section1 img {width: 40%;}

    .section2{height: 92em;}
    .columnas{grid-template-rows: 5% 20% 20% 25% 45%; grid-template-columns: 100%; }
    .title{grid-row:1/2; grid-column: 1/2;}
    .ISO{padding: 1em;}
    .ISO img {width: 35%;}
    .ISO2{max-width: 30em;}
    .title p{font-size: 95%;}
    .title img{width: 25%;}

    .section3 img{height:40% ;}
    .SPICE{max-width: 20em;}

    .section4{height: 28em;}
    .section4 img{height: 40%;}
    .CMMI{ max-width: 25em;}

    .section5{height: 13em;}
    .section5 img {height: 40%;}

    .section6{grid-template-rows: 50% 50%; grid-template-columns: 80%; justify-content: center;}

    .section7 img{width: 25%;}

    footer{ height: 4em;}
}