*{margin:0px; padding: 0px; font-family: Arial, Helvetica, sans-serif;}
header{background-color: #242d3c;color: #fff; height: 5em; display: flex; align-items: center; align-content: center;justify-content: space-evenly;}
